/* HeroSearch private styles */
.search-result  {
  /*border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;*/
  width: 195px;
  height: 50px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
.search-component {
  text-align: center;
}
.search-result:hover {
  background-color: #607D8B;
}

.search-result {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result:hover {
  color: white;
}
.search-result:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


mat-option.search-result {
  margin-top: 0;
  padding-left: 0;
}
.example-full-width {
  width: 200px;
}
